<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-nav-list>
        <a routerLink="home"  routerLinkActive #inicioLink="routerLinkActive"
        [activated]="inicioLink.isActive"
         mat-list-item>HOME</a>
        <a routerLink="usuarios" routerLinkActive #usuariosLink="routerLinkActive"
        [activated]="usuariosLink.isActive"
         mat-list-item>USUARIOS</a>
        <a routerLink="cursos" routerLinkActive
        #cursosLink="routerLinkActive"
        [activated]="cursosLink.isActive"
        mat-list-item>CURSOS</a>
        <a routerLink="productos" routerLinkActive
        #productosLink="routerLinkActive"
        [activated]="productosLink.isActive"
        mat-list-item>CURSOS</a>
        <a (click)="logout()" mat-list-item>CERRAR SESIÓN</a>
      </mat-nav-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar>
        <div class="d-flex justify-content-between align-items-center w-100 h-100">
          <div>
            <button mat-icon-button class="example-icon"
            (click)="drawer.toggle()"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
            </button>
            <span >ACA<span id="dev">DEV</span>MIA</span> 
            <span class="example-spacer"></span>
       
          </div>
          <div *ngIf='authUser | async; let authUser'>
            <p>{{ authUser.nombre }} {{ authUser.apellido }}</p>
          </div>
         
        </div>
        
      </mat-toolbar>

     <router-outlet></router-outlet>

    </div>
  
  </mat-drawer-container>
