.custom-card{
    background-color: #ffffe4; 
    gap: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: box-shadow 0.3s ease;
}
.custom-card:hover {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el cursor */
  }
.contenedor{
    margin-bottom: 10px;
}


